.App {
  text-align: center;
}

*{
  box-sizing: border-box
}

.headerMain{
  @apply w-full flex justify-between items-center h-16 bg-blue-600 px-3 text-white text-xl font-bold;
}

.productDisplay{
  @apply w-full px-2;
}

.product{
 @apply my-4 px-2 flex justify-between items-center w-full;
 border: 1px solid black;
} 

.image{
  @apply w-3/12 flex justify-center items-center;
}
.details{
  @apply w-7/12 text-left;
}

.details p{
  @apply p-1 text-blue-600;
}


.details h3{
  font-size: 20px;
  @apply font-bold;
}